<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="uwDoctorAvailabilityMain.html"> 
    <label>Enter time</label>
    <input type="text"></input>
    <input type="submit" ng-click="filter()"></input>
    <widget-list list="item in items.value track by item.name" show-items="3">
        <widget-row clickable ng-click="showDetails(item)">
            <widget-cell fill>
                <span class="itemName">{{item.name}}</span>
            </widget-cell>
            <widget-cell>
                <widget-icon name="angle-right"></widget-icon>
            </widget-cell>
        </widget-row>
    </widget-list>
</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="uwDoctorAvailabilityDetails.html"> 
  <!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
  <wr>
      <wc>
          <h2>Name: Dr. {{detailsItem.name}}</h2>
          <h4>Specialty: {{detailsItem.speciality}}</h4>
      </wc>
      <wc><img src={{detailsItem.image}} height="200"/></wc>
  </wr>
</script>