<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="uwDoctorAvailabilityMain.html"> 
    <label>Enter Date</label>
    <div class="row">
        <div class = "col-xs-10">
      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date.selectedDate" ng-change="filterByTime()" is-open="CalPopup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
      </div>
        <div class = "col-xs-1">
            <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openCalender()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
            </div>
    </div>
    <div class="row">
        <div class="col-xs-6" uib-timepicker ng-model="date.startTime" ng-change="filterByTime()" hour-step="1" minute-step="1" show-meridian="true"></div>
      <div class="col-xs-6" uib-timepicker ng-model="date.endTime" ng-change="filterByTime()" hour-step="1" minute-step="1" show-meridian="true"></div>
  </div>
    <input type="text"></input>
    <input type="submit" ng-click="filter()"></input>
    <widget-list list="item in filteredTimeSlots track by item.start" show-items="3">
        <widget-row clickable ng-click="showDetails(item)">
            <widget-cell fill>
                <span class="itemName">{{item.start | date:'h:mm a'}}-{{item.end | date: 'h:mm a'}}</span>
                <div>
                <ng-pluralize count="{{item.doctors.length}}"
              			when="{'1': '{{item.doctors.length}} appointment available',
                     	'other': '{{item.doctors.length}} appointments available'}">
				</ng-pluralize>
                </div>
<!--                 <span>{{item.doctors.length}} appointments available</span> -->
            </widget-cell>
            <widget-cell>
                <widget-icon name="angle-right"></widget-icon>
            </widget-cell>
        </widget-row>
    </widget-list>
</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="uwDoctorAvailabilityDetails.html"> 
  <!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
  <wr ng-repeat="item in detailsItem.doctors">
      <wc>
          <h2>Name: Dr. {{item}}</h2>
      </wc>
  </wr>
</script>