<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="uwDoctorAvailabilityMain.html"> 
    <label>Enter Date</label>
    <div class="row">
        <div class = "col-xs-10">
    	<input type="text" class="form-control" ng-change="filterByTime()" ng-model="date.selectedDate" uib-datepicker-popup="{{format}}"  is-open="CalPopup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
    	</div>
        <div class = "col-xs-1">
            <span class="input-group-btn">
    		<button type="button" class="btn btn-default" ng-click="openCalender()"><i class="glyphicon glyphicon-calendar"></i></button>
    	</span>
            </div>
    </div>
    <div class="row">
        <div class="col-xs-6" uib-timepicker ng-model="date.startTime" ng-change="filterByTime()" hour-step="1" minute-step="1" show-meridian="true"></div>
    	<div class="col-xs-6" uib-timepicker ng-model="date.endTime" ng-change="filterByTime()" hour-step="1" minute-step="1" show-meridian="true"></div>
 	</div>
    <input type="text"></input>
    <input type="submit" ng-click="filter()"></input>
    
    
    <widget-list list="item in items.value track by item.name" show-items="3">
        <widget-row clickable ng-click="showDetails(item)">
            <widget-cell fill>
                <span class="itemName">{{item.name}}</span>
            </widget-cell>
            <widget-cell>
                <widget-icon name="angle-right"></widget-icon>
            </widget-cell>
        </widget-row>
    </widget-list>
</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="uwDoctorAvailabilityDetails.html"> 
  <!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
  <wr>
      <wc>
          <h2>Name: Dr. {{detailsItem.name}}</h2>
          <h4>Specialty: {{detailsItem.speciality}}</h4>
      </wc>
  </wr>
</script>